@charset "UTF-8";

.contato {
    padding: 1em;
}

.contato__titulo {
    font-size: 18px;
    font-weight: 500;
    color: var(--cor-azul-degrade);
}

.contato__texto {
    font-weight: 300;
    padding: 1em 0;
}

.contato__email {
    background-color: transparent;
    border: 1px solid var(--cor-azul);
    border-radius: 24px;
    padding: .5em 5em;
}

.contato__email::placeholder {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    color: var(--cor-azul-degrade);
    text-align: center;
    background: url(../imagens/email.svg) no-repeat;
    background-position: .2em;
    background-color: var(--cor-azul-degrade);
}