@charset "UTF-8";

/* Versão MOBILE */

.cabecalho {
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(../imagens/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__botao:checked~ .container__rotulo > .cabecalho__menu-hamburguer {
    background-image: url(../imagens/menuaberto.svg);
}

.container__botao:checked~ .container__rotulo {
    background: var(--cor-azul-degrade);
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 10px;
}

.container__botao {
    display: none;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--cor-branco);
}

.lista-menu__titulo {
    color: var(--cor-laranja);
    font-weight: 700;
}

.lista-menu__link {
    color: var(--cor-azul-degrade);
    text-transform: uppercase;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container__texto {
    display: none;
}

/* Versão TABLET */

@media screen and (min-width: 1024px) {

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .container__titulo {
        display: block;
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
        
    }
    .opcoes__item {
        color: var(--cor-preto);
        text-transform: uppercase;
        padding: 0 1em;
    }

    .opcoes__link {
        text-decoration: none;
    }

    .container__imagem--favoritos {
        display: none;
    }

    .opcoes__botao:checked~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked~ .opcoes__rotulo > .opcoes__item {
        background: var(--cor-azul-degrade);
        color: var(--cor-branco);
    }

    .opcoes__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background: var(--cor-azul-degrade);
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--cor-branco);
        text-decoration: none;
    }
}

/* Versão GRANDES TELAS */

@media screen and (min-width: 1728px) {

    .cabecalho {
        padding: 0 2em;
    }

    .opcoes {
        margin-right: auto;
    }

    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--cor-preto);
    }

    .container__texto {
        display: block;
        font-size: 20px;
    }

    
}