@charset "UTF-8";

/* Versão MOBILE */

.rodape {
    background-color: var(--cor-branco);
    border-top: 1px solid var(--cor-secundaria);
}

.rodape__titulo {
    color: var(--cor-preto);
    padding: 1em 2em;
}

.rodape__lista {
    display: none;
}

/* Versão TABLET */

@media screen and (min-width: 1024px) {
    
    .rodape {
        display: flex;
        justify-content: space-around;
        padding: 2em 0;
    }
    
    .rodape__titulo {
        font-size: 24px;
    }

    .rodape__lista {
        display: block;
        font-size: 14px;
    }

    .rodape__lista--titulo {
        text-transform: uppercase;
        color: var(--cor-secundaria);
        padding-bottom: 1em;
    }

    .rodape__lista--item {
        display: flex;
        align-items: center;
        margin: .6em 0;
        color: var(--cor-cinza);
    }

    .rodape__lista--link {
        text-decoration: none;
        margin-left: .6em;
    }
}

/* Versão GRANDES TELAS */

@media screen and (min-width: 1728px) {

    .rodape {
        padding: 3em 0;
    }
    
    .rodape__lista {
        border-left: 1px solid var(--cor-secundaria);
        padding-left: 1em;
    }
}
